[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
boto3 = "*"
fastparquet = "*"
pandas = "*"

[dev-packages]
ruff = "*"
pytest = "*"
ipykernel = "*"
moto = {extras = ["s3"], version = "*"}

[requires]
python_version = "3.11"

[scripts]
test = "pipenv run python -m pytest tests"